#
# The purpose of this script is updating DNS server and DHCP gateway.
#
# This will invoke main VPN client CLI

set -e

echo "$(date): $(whoami) entering ${1%/*}, dumping variables." >> /tmp/dhclient-vpn.debug

case $interface in vpn_*)
    {{VPN_CLIENT_CLI}} dns --vpn-dir {{WORKING_DIR}} -r "$reason" -ndns "$new_domain_name_servers" -odns "$old_domain_name_servers" "$interface"
    echo "INTO VPN $interface" >> /tmp/dhclient-vpn.debug
esac

echo "OUT: $reason" >> /tmp/dhclient-vpn.debug
echo '--------------------------' >> /tmp/dhclient-vpn.debug
