go/**/bin
python/src/debug

k8s/**/svc.json
k8s/**/*.env
!k8s/**/.env

ansible/out/**
!ansible/out/.gitkeep

ansible/inventory/**
!ansible/inventory/hosts.vagrant.yml

ansible/**/files/**
!ansible/**/files/credentials.json.tmpl
!ansible/**/files/.gitkeep
