{
  "<device_name>": {
    "vpn_server": "<vpn_server>",
    "vpn_port": "<vpn_port>",
    "vpn_hub": "<customer_code>",
    "vpn_account": "<customer_code>",
    "vpn_auth_type": "<cert|password>",
    "vpn_user": "<vpn_user>",
    "vpn_password": "<vpn_password>",
    "vpn_cert_key": "<vpn_cert_key>",
    "vpn_private_key": "<vpn_private_key>"
  }
}
